<!-- Modal -->
<div class="modal fade" id="day-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tag auswählen</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">            
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-text">📅</span>
                  <input id="modal-date" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" id="load-day" class="btn btn-primary" data-bs-dismiss="modal">Load</button>        
        </div>
      </div>
    </div>
  </form>
</div>
<script>

  const modal_day = "#modal-date";

  stash["onload_subs"].push(function () {
    flatpickr(modal_day, { dateFormat: "Y-m-d" })
  });

  document.querySelector("#load-day").addEventListener("click", function() {
    url = sprintf(
      "{{web}}/srv/gold/day/%s/",
      document.querySelector( modal_day ).value
    );
    location.replace(url);
    return( false )
  });
</script>