{% extends 'master.html' %}

{% set canonical='/' %}
{% set image='' %}
{% set title='current gold price' %}
{% set description='' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2  mybox">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <span><b>date</b></span>
                        <div class="input-group input-group-sm mb-3">
                            <input id="date-time" type="text" class="form-control" title="date/time" placeholder="date/time" aria-label="date/time" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>
                    <div class="col-12">
                        <span><b>current price</b></span>
                        <div class="input-group input-group-sm mb-3">                            
                            <input id="gold-price" type="text" class="form-control" title="goldprice current" placeholder="goldprice current" aria-label="goldprice current" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span><b>minimum price</b></span>
                        <div class="input-group input-group-sm mb-3">
                            <input id="gold-price-min" type="text" class="form-control" title="goldprice minimum" placeholder="goldprice minimum" aria-label="goldprice minimum" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <span><b>maximum price</b></span>
                        <div class="input-group input-group-sm mb-3">                            
                            <input id="gold-price-max" type="text" class="form-control" title="goldprice maximum" placeholder="goldprice maximum" aria-label="goldprice minimum" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>        
                </div>
                <div class="row">
                    <div class="col-12">
                        <span><b>difference price</b></span>
                        <div class="input-group input-group-sm mb-3">                            
                            <input id="gold-price-diff" type="text" class="form-control" title="goldprice difference" placeholder="goldprice difference" aria-label="goldprice difference" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>        
                </div>
                <div class="row">
                    <div class="col-12">
                        <span><b>exchange rate</b></span>
                        <div class="input-group input-group-sm mb-3">                            
                            <input id="exchange-rate" type="text" class="form-control" title="exchange-rate" placeholder="exchange-rate" aria-label="exchange-rate" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>        
                </div>
                <div class="row">
                    <div class="col-12">
                        <span><b>information</b></span>
                        <div class="input-group input-group-sm mb-3">                            
                            <input id="info" type="text" class="form-control" title="info" placeholder="keine info" aria-label="info" aria-describedby="basic-addon2" readonly>
                        </div>        
                    </div>        
                </div>
            </div>
        </div>        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 col-xxl-10">
            <div class="container-fluid">
                <div class="row">     
                    <div class="col-12 mybox">
                        <div id="goldprice" width="100%" height=600 style="width:100%; height:600px;"></div>                                                
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}
{% block javascript %}
<script src="{{web}}/jss/gold-price-day.js"></script>
<script>
    function gold_price_current() {
        let url = "/srv/gold/current/";
        {% if day %}
            url = "/srv/gold/day/{{day}}/";
        {% endif %}
        document.querySelector("#info").value = "loading...";
        fetch( url, { 
            method: "GET", 
            headers: { 
                "Accept": "application/json",
                "Content-Type": "application/json"} 
        } )
        .then( (response) => response.json() )
        .then( function(json) {             
            gold_price_present_text(json);
            gold_price_present_dia(json);
        } )
        .catch(error => console.error("Fehler 'day_prices' beim Laden:", error));        
        {% if not day %}
            stash["timeout_id"] = window.setTimeout(gold_price_current, config()["timeout_refresh"])
        {% endif %}
    }//gold_price_current

    stash["onload_subs"].push(function () {
        gold_price_current();    
});
</script>
{% endblock %}